header{
	height:auto;
	line-height:200px;
	position:relative;
}
header h1{
	text-align:center;
}
header img{
	display:block;
	position:absolute;
	top:0px;
	left:0px;
	width:130px;
}
input[type="radio"]{
	margin-right:1em;
}

.resalta{
	background-color:#6c757d;
}
table{
	margin:auto;
}
.ancho{
	padding:2em;
}
.trian{
	position:relative;
	width:300px;
	height:200px;
	margin:auto;
	background-image:url(../img/triangulo.png);
	background-repeat:no-repeat;
	background-position:center center;
	margin-bottom:2em;
}
.A{
	position:absolute;
	right:0;
	top:90px;
	width:80px;
	text-align:right;
}
.B{
	position:absolute;
	bottom:0;
	left:100px;
	width:100px;
	text-align:right;
}
.Hip{
	position:absolute;
	top:70px;
	left:80px;
	width:120px;
	text-align:right;
}
form div{
	margin-top:1em;
	
}
#pokemon1{
	position:relative;
	width:300px;
	height:300px;
	background-image:url(../img/pikachu.png);
	background-repeat:no-repeat;
	background-position:center center;
}

#pokemon1 div{
	margin-top:2em;
}
#pokemon1 div div{
	position:absolute;
	bottom:0;
}

div#escala{
	position:relative;
	width:250px;
	height:250px;
	background-image:url(../img/termometro.jpg);
	background-repeat:no-repeat;
	background-position:center center;
}
div#escala table{
	position:absolute;
	top:37px;
	left:100px;
}

div#escala table td{
	width:20px;
	height:1.55px;
}

div#globo{
	width:200px;
	height:400px;
}
div#globo img{
	
}
/* Juego de piedra papel o tigera */

#interfaz img, .resultado img{
	width:60px;
}
#interfaz{
	margin-bottom:1em;
}
.resultado{
	display:inline-block;
	width:150px;
	height:150px;
	margin:1em;
	padding:1em;
	border-radius:10px;
	border:5px solid grey;
}
.resultado img{
	display:block;
	margin:auto;
}
.ganador{
	border:5px solid #327c3a;
}
.perdedor{
	border:5px solid #c61506;
}
#user{
	background-image:url(../img/user.png);
	background-repeat:no-repeat;
	background-position:center center;
}
#computer{
	background-image:url(../img/computer.png);
	background-repeat:no-repeat;
	background-position:center center;
}
table#ganados td{
	height:20px;
	width:20px;
	border:1px solid grey;
}
details{
	margin-top:1em;
}
@media (max-width: 991.98px) {
	header img{
		display:none;
	}
	.ancho{
	padding:0.5em;
	}
	.trian{
		width:200px;
		background-size:cover;
	}
	.B{
		left:50px;
	}
	.Hip{
		left:0px;
	}
}

